/*@import "../node_modules/materialize-css/dist/css/materialize.css";*/
.well{
	padding-left: 50px;
	padding-right: 50px;
}
.cancer{
	width: 100%;
	background-color: #eceff1;
	margin-top: 130px;
}
input{
	border: none;
	border-bottom: 1px solid gray;
	border-radius: 0px;
}
.navbar-fixed-bottom{
	padding-left: 70%;
	top: 86%;
}