/*@import "../node_modules/materialize-css/dist/css/materialize.css";*/

#convertData{
	background-color: white;
	padding: 10px 50px;
}
#convertData .title{ padding: 10px 0; }
#convertData .subgroups{ padding: 7px 5px; }
#convertData .subgroups .itemgroup{ padding: 5px 0; }
#convertData .subgroups .itemgroup>div{ padding: 5px 0; }

#convertData .subgroups h4{
	cursor: pointer;
}
#convertData .subgroups h4:hover{
	text-decoration: underline;
}

#convertData .subgroups .itemgroup input[type="radio"]{ 
	margin-right: 10px; 
	cursor: pointer;
}
#convertData .subgroups .itemgroup input[type="text"]{ 
	margin: 0 10px; 
	width: 50%;
}
#convertData .subgroups .itemgroup input[type="number"]{
	margin: 0 5px;
	width: 100px;
	text-align: center;
}

#convertData .subgroups .itemgroup .indent1 { 
	margin: 5px 0 5px 50px; 
	display: none;
}
#convertData .subgroups .itemgroup .indent2 { 
	margin: 5px 0 5px 90px; 

}
#convertData .comment{ 
	font-size: 14px; 
	display: block;
	margin-top: 10px;
}
.cursor:hover{ 
	cursor: pointer;
}
.cursor{
	margin-bottom: 0px; 
}

.modal-header{
	background-color: #5cb85c;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.modal-dialog{
	width: 1200px;
	padding-top: 30px;
}



/* #chk:checked ~ u{
	display: inline;
} */

/* #chk:checked ~ input[type="text"], input[type="number"]{
	display: inline;
} */


.bfooter{
	position:fixed;
	bottom:5%;
	right:5%;
	display:none;
}